protocol-terminators/epsos-ncp-client/epsos-client-connector/src/main/resources/wsdl/ClientConnectorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
                  xmlns:tns="http://clientconnector.protocolterminator.openncp.epsos/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsaw="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://clientconnector.protocolterminator.openncp.epsos/"
                  name="ClientConnectorService">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://clientconnector.protocolterminator.openncp.epsos/" schemaLocation="ClientConnectorService.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sayHello">
        <wsdl:part name="parameters" element="tns:sayHello" />
    </wsdl:message>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part name="parameters" element="tns:sayHelloResponse" />
    </wsdl:message>
    <wsdl:message name="queryPatient">
        <wsdl:part name="parameters" element="tns:queryPatient" />
    </wsdl:message>
    <wsdl:message name="queryPatientResponse">
        <wsdl:part name="parameters" element="tns:queryPatientResponse" />
    </wsdl:message>
    <wsdl:message name="queryDocuments">
        <wsdl:part name="parameters" element="tns:queryDocuments" />
    </wsdl:message>
    <wsdl:message name="queryDocumentsResponse">
        <wsdl:part name="parameters" element="tns:queryDocumentsResponse" />
    </wsdl:message>
    <wsdl:message name="retrieveDocument">
        <wsdl:part name="parameters" element="tns:retrieveDocument" />
    </wsdl:message>
    <wsdl:message name="retrieveDocumentResponse">
        <wsdl:part name="parameters" element="tns:retrieveDocumentResponse" />
    </wsdl:message>
    <wsdl:message name="submitDocument">
        <wsdl:part name="parameters" element="tns:submitDocument" />
    </wsdl:message>
    <wsdl:message name="submitDocumentResponse">
        <wsdl:part name="parameters" element="tns:submitDocumentResponse" />
    </wsdl:message>
    <wsdl:message name="GeneralFaultMessage">
        <wsdl:part element="tns:GeneralFault" name="fault"/>
    </wsdl:message>
    
    <wsdl:portType name="ClientConnectorServicePortType">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:sayHello" wsaw:Action="urn:ehdsi:sayHello"/>
            <wsdl:output message="tns:sayHelloResponse" wsaw:Action="urn:ehdsi:sayHelloResponse"/>
            <wsdl:fault message="tns:GeneralFaultMessage" name="GeneralException"/>
        </wsdl:operation>
        <wsdl:operation name="queryPatient">
            <wsdl:input message="tns:queryPatient" wsaw:Action="urn:ehdsi:queryPatient"/>
            <wsdl:output message="tns:queryPatientResponse" wsaw:Action="urn:ehdsi:queryPatientResponse"/>
            <wsdl:fault message="tns:GeneralFaultMessage" name="GeneralException"/>
        </wsdl:operation>
        <wsdl:operation name="queryDocuments">
            <wsdl:input message="tns:queryDocuments" wsaw:Action="urn:ehdsi:queryDocuments"/>
            <wsdl:output message="tns:queryDocumentsResponse" wsaw:Action="urn:ehdsi:queryDocumentsResponse"/>
            <wsdl:fault message="tns:GeneralFaultMessage" name="GeneralException"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveDocument">
            <wsdl:input message="tns:retrieveDocument" wsaw:Action="urn:ehdsi:retrieveDocument"/>
            <wsdl:output message="tns:retrieveDocumentResponse" wsaw:Action="urn:ehdsi:retrieveDocumentResponse"/>
            <wsdl:fault message="tns:GeneralFaultMessage" name="GeneralException"/>
        </wsdl:operation>
        <wsdl:operation name="submitDocument">
            <wsdl:input message="tns:submitDocument" wsaw:Action="urn:ehdsi:submitDocument"/>
            <wsdl:output message="tns:submitDocumentResponse" wsaw:Action="urn:ehdsi:submitDocumentResponse"/>
            <wsdl:fault message="tns:GeneralFaultMessage" name="GeneralException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientConnectorServicePortBinding" type="tns:ClientConnectorServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="sayHello">
            <soap12:operation soapAction="urn:ehdsi:sayHello" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GeneralException">
                <soap12:fault name="GeneralException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryPatient">
            <wsp:PolicyReference URI="#HttpsWithSAML2AssertionPolicy" />
            <soap12:operation soapAction="urn:ehdsi:queryPatient" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GeneralException">
                <soap12:fault name="GeneralException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDocuments">
            <wsp:PolicyReference URI="#HttpsWithSAML2AssertionPolicy" />
            <soap12:operation soapAction="urn:ehdsi:queryDocuments" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GeneralException">
                <soap12:fault name="GeneralException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveDocument">
            <wsp:PolicyReference URI="#HttpsWithSAML2AssertionPolicy" />
            <soap12:operation soapAction="urn:ehdsi:retrieveDocument" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GeneralException">
                <soap12:fault name="GeneralException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="submitDocument">
            <wsp:PolicyReference URI="#HttpsWithSAML2AssertionPolicy" />
            <soap12:operation soapAction="urn:ehdsi:submitDocument" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GeneralException">
                <soap12:fault name="GeneralException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClientConnectorService">
        <wsdl:port name="ClientConnectorServicePort" binding="tns:ClientConnectorServicePortBinding">
            <soap12:address location="https://openncp.ehdsi.eu/services/ClientConnectorService.ClientConnectorServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy wsu:Id="HttpsWithSAML2AssertionPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens>
                    <wsp:Policy>
                        <sp:SamlToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssSamlV20Token11 />
                            </wsp:Policy>
                        </sp:SamlToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
                <sp:TransportToken>
                    <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="true" />
                    </wsp:Policy>
                </sp:TransportToken>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
