util/src/main/resources/META-INF/wsdl/schematron-validator/GazelleObjectValidator.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.validator.sch.gazelle.ihe.net/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="GazelleObjectValidatorService" targetNamespace="http://ws.validator.sch.gazelle.ihe.net/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.validator.sch.gazelle.ihe.net/"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://ws.validator.sch.gazelle.ihe.net/">
            <xs:element name="about" type="tns:about"/>
            <xs:element name="aboutResponse" type="tns:aboutResponse"/>
            <xs:element name="getAllAvailableObjectTypes" type="tns:getAllAvailableObjectTypes"/>
            <xs:element name="getAllAvailableObjectTypesResponse" type="tns:getAllAvailableObjectTypesResponse"/>
            <xs:element name="getAllSchematrons" type="tns:getAllSchematrons"/>
            <xs:element name="getAllSchematronsResponse" type="tns:getAllSchematronsResponse"/>
            <xs:element name="getSchematronByName" type="tns:getSchematronByName"/>
            <xs:element name="getSchematronByNameResponse" type="tns:getSchematronByNameResponse"/>
            <xs:element name="getSchematronsForAGivenType" type="tns:getSchematronsForAGivenType"/>
            <xs:element name="getSchematronsForAGivenTypeResponse" type="tns:getSchematronsForAGivenTypeResponse"/>
            <xs:element name="validateObject" type="tns:validateObject"/>
            <xs:element name="validateObjectResponse" type="tns:validateObjectResponse"/>
            <xs:complexType name="getAllAvailableObjectTypes">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllAvailableObjectTypesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="objectType" type="tns:objectType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="objectType">
                <xs:complexContent>
                    <xs:extension base="tns:auditModule">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="description" type="xs:string"/>
                            <xs:element minOccurs="0" name="id" type="xs:int"/>
                            <xs:element minOccurs="0" name="keyword" type="xs:string"/>
                            <xs:element minOccurs="0" name="labelToDisplay" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="auditModule">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lastModifierId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="about">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="aboutResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="about" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validateObject">
                <xs:sequence>
                    <xs:element minOccurs="0" name="base64ObjectToValidate" type="xs:string"/>
                    <xs:element minOccurs="0" name="xmlReferencedStandard" type="xs:string"/>
                    <xs:element minOccurs="0" name="xmlMetadata" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validateObjectResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="validationResult" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllSchematrons">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllSchematronsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schematrons" type="tns:schematron"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="schematron">
                <xs:complexContent>
                    <xs:extension base="tns:auditModule">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="author" type="xs:string"/>
                            <xs:element name="available" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="daffodilOid" type="xs:string"/>
                            <xs:element minOccurs="0" name="daffodilTransformationNeeded" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="description" type="xs:string"/>
                            <xs:element minOccurs="0" name="id" type="xs:int"/>
                            <xs:element minOccurs="0" name="label" type="xs:string"/>
                            <xs:element minOccurs="0" name="name" type="xs:string"/>
                            <xs:element minOccurs="0" name="needReportGeneration" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="objectType" type="tns:objectType"/>
                            <xs:element minOccurs="0" name="path" type="xs:string"/>
                            <xs:element minOccurs="0" name="provider" type="xs:string"/>
                            <xs:element minOccurs="0" name="transformUnknowns" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="version" type="xs:string"/>
                            <xs:element minOccurs="0" name="xsdPath" type="xs:string"/>
                            <xs:element minOccurs="0" name="xsdVersion" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="getSchematronsForAGivenType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileType" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getSchematronsForAGivenTypeResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schematrons" type="tns:schematron"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getSchematronByName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="schematronName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getSchematronByNameResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="schematron" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="TransformerException" type="tns:TransformerException"/>
            <xs:complexType name="TransformerException">
                <xs:sequence>
                    <xs:element name="locationAsString" nillable="true" type="xs:string"/>
                    <xs:element name="messageAndLocation" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SOAPException" type="tns:SOAPException"/>
            <xs:complexType name="SOAPException">
                <xs:sequence>
                    <xs:element name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllAvailableObjectTypesResponse">
        <wsdl:part element="tns:getAllAvailableObjectTypesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="about">
        <wsdl:part element="tns:about" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSchematronsForAGivenType">
        <wsdl:part element="tns:getSchematronsForAGivenType" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="aboutResponse">
        <wsdl:part element="tns:aboutResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSchematronByName">
        <wsdl:part element="tns:getSchematronByName" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllSchematronsResponse">
        <wsdl:part element="tns:getAllSchematronsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateObject">
        <wsdl:part element="tns:validateObject" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllSchematrons">
        <wsdl:part element="tns:getAllSchematrons" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSchematronByNameResponse">
        <wsdl:part element="tns:getSchematronByNameResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllAvailableObjectTypes">
        <wsdl:part element="tns:getAllAvailableObjectTypes" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SOAPException">
        <wsdl:part element="tns:SOAPException" name="SOAPException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TransformerException">
        <wsdl:part element="tns:TransformerException" name="TransformerException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSchematronsForAGivenTypeResponse">
        <wsdl:part element="tns:getSchematronsForAGivenTypeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateObjectResponse">
        <wsdl:part element="tns:validateObjectResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GazelleObjectValidator">
        <wsdl:operation name="getAllAvailableObjectTypes">
            <wsdl:input message="tns:getAllAvailableObjectTypes" name="getAllAvailableObjectTypes">
            </wsdl:input>
            <wsdl:output message="tns:getAllAvailableObjectTypesResponse" name="getAllAvailableObjectTypesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="about">
            <wsdl:input message="tns:about" name="about">
            </wsdl:input>
            <wsdl:output message="tns:aboutResponse" name="aboutResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateObject">
            <wsdl:input message="tns:validateObject" name="validateObject">
            </wsdl:input>
            <wsdl:output message="tns:validateObjectResponse" name="validateObjectResponse">
            </wsdl:output>
            <wsdl:fault message="tns:TransformerException" name="TransformerException">
            </wsdl:fault>
            <wsdl:fault message="tns:SOAPException" name="SOAPException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSchematrons">
            <wsdl:input message="tns:getAllSchematrons" name="getAllSchematrons">
            </wsdl:input>
            <wsdl:output message="tns:getAllSchematronsResponse" name="getAllSchematronsResponse">
            </wsdl:output>
            <wsdl:fault message="tns:SOAPException" name="SOAPException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSchematronsForAGivenType">
            <wsdl:input message="tns:getSchematronsForAGivenType" name="getSchematronsForAGivenType">
            </wsdl:input>
            <wsdl:output message="tns:getSchematronsForAGivenTypeResponse" name="getSchematronsForAGivenTypeResponse">
            </wsdl:output>
            <wsdl:fault message="tns:SOAPException" name="SOAPException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSchematronByName">
            <wsdl:input message="tns:getSchematronByName" name="getSchematronByName">
            </wsdl:input>
            <wsdl:output message="tns:getSchematronByNameResponse" name="getSchematronByNameResponse">
            </wsdl:output>
            <wsdl:fault message="tns:SOAPException" name="SOAPException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GazelleObjectValidatorServiceSoapBinding" type="tns:GazelleObjectValidator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAllAvailableObjectTypes">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllAvailableObjectTypes">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllAvailableObjectTypesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="about">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="about">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="aboutResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateObject">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="validateObject">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validateObjectResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransformerException">
                <soap:fault name="TransformerException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSchematrons">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllSchematrons">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllSchematronsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSchematronByName">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getSchematronByName">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSchematronByNameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSchematronsForAGivenType">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getSchematronsForAGivenType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSchematronsForAGivenTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GazelleObjectValidatorService">
        <wsdl:port binding="tns:GazelleObjectValidatorServiceSoapBinding" name="GazelleObjectValidatorPort">
            <soap:address
                    location="https://gazelle.ehdsi.eu/SchematronValidator-ejb/GazelleObjectValidatorService/GazelleObjectValidator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
