protocol-terminators/epsos-ncp-server/epsos-ws-server/src/main/resources/aar/xca/META-INF/XCA_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="XCA_Service" targetNamespace="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<documentation>IHE XCA Responding Gateway Service (epSOS Specific)</documentation>
  <types>
    <xsd:schema elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="schema/rs.xsd"/>
			<xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="schema/IHEXDS.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="schema/query.xsd"/>
		</xsd:schema>
  </types>
  <message name="CrossGatewayRetrieve_Message">
<documentation>Cross Gateway Retrieve</documentation>
    <part name="body" element="ihe:RetrieveDocumentSetRequest">
    </part>
  </message>
  <message name="CrossGatewayQueryResponse_Message">
<documentation>Cross Gateway Query Response</documentation>
    <part name="body" element="query:AdhocQueryResponse">
    </part>
  </message>
  <message name="CrossGatewayQuery_Message">
<documentation>Cross Gateway Query</documentation>
    <part name="body" element="query:AdhocQueryRequest">
    </part>
  </message>
  <message name="CrossGatewayRetrieveResponse_Message">
<documentation>Cross Gateway Retrieve Response</documentation>
    <part name="body" element="ihe:RetrieveDocumentSetResponse">
    </part>
  </message>
  <portType name="RespondingGateway_PortType">
    <operation name="RespondingGateway_CrossGatewayQuery">
      <input message="ihe:CrossGatewayQuery_Message" wsaw:Action="urn:ihe:iti:2007:CrossGatewayQuery">
    </input>
      <output message="ihe:CrossGatewayQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:CrossGatewayQueryResponse">
    </output>
    </operation>
    <operation name="RespondingGateway_CrossGatewayRetrieve">
      <input message="ihe:CrossGatewayRetrieve_Message" wsaw:Action="urn:ihe:iti:2007:CrossGatewayRetrieve">
    </input>
      <output message="ihe:CrossGatewayRetrieveResponse_Message" wsaw:Action="urn:ihe:iti:2007:CrossGatewayRetrieveResponse">
    </output>
    </operation>
  </portType>
  <binding name="RespondingGateway_Binding_Soap12" type="ihe:RespondingGateway_PortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RespondingGateway_CrossGatewayQuery">
      <soap12:operation soapAction="urn:ihe:iti:2007:CrossGatewayQuery"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="RespondingGateway_CrossGatewayRetrieve">
      <soap12:operation soapAction="urn:ihe:iti:2007:CrossGatewayRetrieve"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="XCA_Service">
    <port name="RespondingGateway_Port_Soap12" binding="ihe:RespondingGateway_Binding_Soap12">
      <soap12:address location="http://localhost:8080/axis2/services/RespondingGateway_Soap12"/>
    </port>
  </service>
</definitions>
